@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
  margin: 20pxg;
  font-family: 'Inter', sans-serif;
}

.container {
  @apply mx-auto max-w-6xl p-4;
}

.font-size-small {
  font-size: 0.875rem;
}

.font-size-medium {
  font-size: 1rem;
}

.font-size-large {
  font-size: 1.25rem;
}
